services:
  evolution_api:
    container_name: evolution_api
    image: atendai/evolution-api:v2.2.2
    restart: always
    ports:
      - "8081:8080"
    environment:
      - SERVER_URL=http://localhost:8081
      - API_KEY=123456
      - GLOBAL_API_KEY=123456
      - AUTHENTICATION_API_KEY=123456
      # CONFIGURAÇÃO DO BANCO DE DADOS
      - DATABASE_ENABLED=true
      - DATABASE_PROVIDER=postgresql  # <--- A LINHA QUE FALTAVA
      - DATABASE_CONNECTION_URI=postgresql://evolution:evolution@postgres:5432/evolution
      # CONFIGURAÇÃO DO REDIS
      - REDIS_ENABLED=true
      - REDIS_URI=redis://redis:6379/0
      - CACHE_REDIS_ENABLED=true
      - CACHE_REDIS_URI=redis://redis:6379/1
    depends_on:
      - postgres
      - redis

  postgres:
    container_name: evolution_postgres
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=evolution
      - POSTGRES_PASSWORD=evolution
      - POSTGRES_DB=evolution
    volumes:
      - evolution_pgdata:/var/lib/postgresql/data

  redis:
    container_name: evolution_redis
    image: redis:alpine
    restart: always
    volumes:
      - evolution_redis_data:/data

volumes:
  evolution_pgdata:
  evolution_redis_data: